@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply font-sans bg-white text-black antialiased;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    max-width: 100vw;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
  }
}

